
.lgb {
  	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow: hidden;
}


.homebody {
  	background-size: cover;
	display: flex;

	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0 0 0;
}



 .contact-header{
    display: grid;
    align-items: center;
    text-align: center;
    font-size:4.5rem;
    font-weight:800;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 50px;

}
.form{
    height: 600px;
    width: 80%;
    margin-right: 30px;
    background-color: rgba(40, 204, 219, 0.816);
    border-radius: 20px;
    border: none;
    margin-left: auto;
    display: flex;
    color: black;
    align-items: center;
}


.contain-text{
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=DM+Sans:wght@500&family=Josefin+Sans:wght@300&family=Kanit:wght@200&family=Nunito:wght@300&family=Ubuntu:wght@400;500&display=swap');


.contact-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    font-size:2rem;
    margin-left: 20px;
    color: black;
    font-weight: 700;
  }
  
  .contain-text {
    flex: 1;
    margin-right: 20px;
  }
  
  .main-form {
    flex: 1;
  }


  .form .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 100px;
  }
  .form .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
  }
  .form .inputbox textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height:100px;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
  }
  .form .inputbox:last-child {
    margin-bottom: 0;
  }
  .form .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  .form .inputbox textarea span {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }


  .form .inputbox input:focus ~ span,
  .form .inputbox input:valid ~ span,
  .form .inputbox textarea:focus ~ span,
  .form .inputbox textarea:valid ~ span {
    transform: translateX(-15px) translateY(-55px);
    font-size: 1em;
  }

  .form .inputbox [type="button"] {
    width: 70%;
    background: rgb(5, 27, 50);
    font-size: 1.5rem;
    color: white;
    border: none;
  }
  .form .inputbox:hover [type="button"] {
    width: 70%;
    background: rgb(171, 233, 233);
    font-size: 1.5rem;
    color: rgb(5, 27, 50);
    cursor: pointer;
  }
  