.main{
    background: rgb(223, 250, 250) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* Import Google font - Poppins */

hr{
  width: 90%;
  border: none; /* remove default border */
  height: 3px; /* set the desired thickness */
  background-color: black; 
  margin-bottom: 50px;
}



nav{
  background-color: #004aad;
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  margin-left: 30px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 2rem;
  color: #DDDDDD;
  display: flex;
  font-family: Verdana, sans-serif;
  justify-content: space-between;
  align-items: center;

}


@media (max-width: 1397px) {
  nav .logo {
    font-size: 30px; /* Adjust the font size as per your preference */
  }
}


nav .item-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .item-cont a{
  margin-right: 20px;
  width: 150px;
  text-align: center;
  align-items: center;
}

nav .item-cont a{

  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: white;
}
nav .item-cont a:hover{
  cursor: pointer;
}

nav .item-cont a:hover{
  color: chartreuse;
  font-weight: 700;
}


@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Gentium+Book+Plus:wght@700&family=Geologica:wght@300&family=Josefin+Sans:wght@400;500&family=Kanit:wght@800&family=Karla&family=Mukta:wght@700&family=Raleway:ital,wght@0,700;1,400&display=swap');



.welcome{
  
  width: 100%;
  height: 730px;
  background: url("bg1.png") no-repeat center center;
  background-size: cover;
  opacity: 100%;
  align-items: center;
}
.contain-welcome{
  display: grid;
  align-items: center;
}
.welcome .headline{
  font-weight: 900;
  font-size: 5rem;
  margin-left: 100px;
  color: rgb(52, 255, 59);
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin-top: 200px;
}

.welcome .headline2{
  font-weight: 700;
  font-size: 2rem;
  margin-left: 100px;
  color: rgb(52, 255, 59);;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}


@media (max-width: 569px) {
  .welcome .headline{
    font-size:3rem;
    margin-left: 50px;
  }
  .welcome .headline2{
    font-weight: 700;
    font-size: 1rem;
    margin-left: 50px;
  }
}

.welcome button{
  width: 200px;
  height: 50px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  border-radius: 5px;
  background-color: rgba(9, 255, 46, 0.716);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 100px;
  display: grid;
  align-items: center;
  text-align: center;
  line-height: 0px; 
}


.welcome button:hover{
  background-color: rgba(69, 209, 104, 0.455);
}

.welcome p{
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 600px;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: whitesmoke;
}


.contact{
  background: url("bg4(1).png") no-repeat center center;
  background-size: cover;
  height: 820px;
  align-items: center;
  
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=DM+Sans:wght@500&family=Josefin+Sans:wght@300&family=Kanit:wght@200&family=Ubuntu:wght@400;500&display=swap');
.contact h1{
  text-align: center;
  font-size:4rem;
  font-weight:800;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 50px;

}

.contact p{
  margin-left: 100px;
  font-size: 1.4rem;
}


.inputs{
  margin-top: 20px;
  margin-left: 40px;
}

.contact form input{
  margin-left: 20px;
  background-color: rgb(207, 243, 245);
}
.contact form textarea{
  margin-left: 30px;
  background-color: rgb(207, 243, 245);
}

.details{

  border: 2px dotted black;
  border-radius: 20px;
  width: 40%;
  flex: display;
  margin-left: auto;
  height: 90%;
  margin-right: 10px;
}

.contact button{
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  background-color: aliceblue;
  font-weight: 700;
  border: 1px solid rgb(32, 29, 29);
  border-radius: 20px;
}

.about{
  height: 820px;
  text-align: center;
  background: url("bg2.png") no-repeat center center;
  background-size: cover;
  font-size:4.5rem;
  font-weight:800;
  font-family: 'Kanit', sans-serif;
  align-items: center;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=DM+Sans:wght@500&family=Josefin+Sans:wght@300&family=Kanit:wght@200&family=Ubuntu:wght@400;500&display=swap');


.about-p{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin: 0 auto;
}

.about-p .p1{
  width: 100%;
  flex-basis: 33%;
  color: black;
  font-weight: 500;
}
.about-image{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 89%;
  flex-basis: 33%;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Kanit:wght@200&family=Ubuntu:wght@400;500&display=swap');
.about h1{
  font-size:4rem;
  font-weight:700;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Josefin+Sans:wght@300&family=Kanit:wght@200&family=Ubuntu:wght@400;500&display=swap');
.about p{
  font-size: 1.3rem;
  justify-content:center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  color: black;
  flex-basis: 33%;
  text-align: center;
}



.about .about-last{
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: transparent;
  height: 200px;
  display: grid;
  width: 90%;
  opacity: 90%;
  align-items: center;
  background-color: #6cc7af;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-left: 15px solid black;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media (max-width: 1513px) {
  .about .about-last{

    height: 150px;

  }
}
@media (max-width: 1273px) {
  .about .about-last{

    height: 130px;
    font-size: 1.3rem;

  }

  .about p{
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {

  .about .about-last{

    height: 130px;
    font-size: 1.1rem;

  }

  .about p{
    font-size: 1rem;
  }
}

.logo img{
  width: 50px;
  margin-right: 20px;
  border-radius: 20px;
}

::selection {
    color: rgb(52, 52, 212);
    background: greenyellow;
}

.margstyle{
  background: url("bg3.png") no-repeat center center;
  background-size: cover;
  width: 100%;

    
}




.container {
	background-color: #fff;
	top: 140px;

	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0px;
	height: 100%;
	transition: transform  0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(0);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #1b1114;
	background: -webkit-linear-gradient(to right, #8e148e, #0e0b4f);
	background: linear-gradient(to right, #8e148e, #0e0b4f);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;

}





